asn1crypto==0.24.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
contextlib2==0.6.0.post1
cryptography==2.3
Flask==1.1.1
future==0.18.2
idna==2.6
itsdangerous==1.1.0
jaeger-client==3.13.0
Jinja2==2.10.1
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
opentracing==1.2.2
opentracing-instrumentation==2.4.3
pycairo==1.19.1
pycparser==2.19
pycrypto==2.6.1
PyGObject==3.36.0
pymongo==3.8.0
pyxdg==0.26
requests==2.22.0
SecretStorage==2.3.1
six==1.11.0
threadloop==1.0.2
thrift==0.13.0
tornado==4.5.3
urllib3==1.25.3
Werkzeug==0.15.5
wrapt==1.12.1
